@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 50px;
    font-family: "Roboto Slab", serif;
    background-color: rgb(37, 34, 34);
    color: aliceblue;
    padding: 1%;
    height: 70%;
    border-radius: 50px;
}

.nav{
    font-family: "Young Serif", serif;
    padding: 1%;
}


.nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 40px;
    color: aliceblue;
}

.nav ul li{
    padding: 0 1%;
}

.profile{
    margin: 1%;
    display: flex;
}

.info ul{
    float: right;
    list-style-type: none;
}

.content{
    margin: 1%;
}

#img{
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    height: auto;
    border-radius: 20px;
}