@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-color: black;
    display: flex;
}

nav{
    font-family: "Roboto Slab", serif;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border-radius: 20px;
    background-color: rgb(27, 24, 24);
    color: white;
    min-width: fit-content;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    color: white;
}

nav ul li{
    padding: 0 3%;
}

article{
    margin: 1%;
    font-family: "Roboto Slab", serif; 
    background-color: rgb(27, 24, 24);
    color: white;
    padding: 5%;
    border-radius: 20px;
}

aside{
    font-family: "Roboto Slab", serif;
    margin: 1%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(27, 24, 24);
    color: white;
}

#img{
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    border-radius: 20px;
}

.img{
    text-align: center;
}

.contact{
    justify-content: space-evenly;
}
.contact ul{
    list-style-type: none;
}

.contact ul li{
    padding-bottom: 20px;
}

.contact-info{
    display: flex;
}

.icon{
    font-size: 1rem;
    color: burlywood;
    padding-right: 8px;
}

.contact-heading{
    font-size: 0.8rem;
    font-weight: light;
    color: rgb(153, 142, 142);
}

.text{
    text-align:start;
    padding-top: 3%;
}